<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Welcome to the Dashboard!</h1>
    
    
    <!-- Add a link to the admin page -->
    <p><a href="{{ url_for('admin') }}">Go to Admin Page</a></p>
    <!-- Add a link to the resources page -->
    <p><a href="{{ url_for('resources') }}">View Resources</a></p>
    <!-- Add a link to the map page -->
    <p><a href="{{ url_for('map_page') }}">See Map</a></p>
</body>

</html>