<!-- resources.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>

<body>
    <h1>Resources</h1>
    <!-- link to go back to the dashboard -->
    <p><a href="{{ url_for('dashboard') }}">Back to Dashboard</a></p>
    

    <!-- Display resources -->
    <h2>Available Resources</h2>
    <ul>
        {% for resource in resources %}
        <li>{{ resource.name }} - {{ resource.location }}</li>
        {% endfor %}
    </ul>
</body>

</html>